<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cooklet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/coolkle_icon_removebg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coolkle_icon_round_removebg"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cooklet">
        <activity
            android:name=".MainActivity_Instruction"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Intro_prepare_container"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Prepare"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Introduction"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Type"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity_Meun"
            android:exported="false" />
        <activity
            android:name=".FinishActivity"
            android:exported="true" />
        <activity
            android:name=".IntroductionActivity"
            android:exported="true" />
        <activity
            android:name=".PreparationActivity"
            android:exported="true" />
        <activity
            android:name=".Instruction"
            android:exported="true" />
        <activity
            android:name=".Step1Activity"
            android:exported="true" />
        <activity
            android:name=".Step2Activity"
            android:exported="true" />
        <activity
            android:name=".Step3Activity"
            android:exported="true" />
        <activity
            android:name=".Step4Activity"
            android:exported="true" />
    </application>

</manifest>